<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnexionServlet</servlet-name>
        <servlet-class>servlets.ConnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconnexionServlet</servlet-name>
        <servlet-class>servlets.DeconnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanierServlet</servlet-name>
        <servlet-class>servlets.PanierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompteServlet</servlet-name>
        <servlet-class>servlets.CompteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommanderServlet</servlet-name>
        <servlet-class>servlets.CommanderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefuserCommandeServlet</servlet-name>
        <servlet-class>admin.RefuserCommandeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnexionServlet</servlet-name>
        <url-pattern>/ConnexionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnexionServlet</servlet-name>
        <url-pattern>/DeconnexionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanierServlet</servlet-name>
        <url-pattern>/PanierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompteServlet</servlet-name>
        <url-pattern>/CompteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommanderServlet</servlet-name>
        <url-pattern>/CommanderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServelet</servlet-name>
        <servlet-class>admin.LoginServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServelet</servlet-name>
        <servlet-class>admin.LogoutServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerArticleServlet</servlet-name>
        <servlet-class>admin.SupprimerArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierArticleServlet</servlet-name>
        <servlet-class>admin.ModifierArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterArticleServlet</servlet-name>
        <servlet-class>admin.AjouterArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerClientServlet</servlet-name>
        <servlet-class>admin.SupprimerClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BloquerClientServlet</servlet-name>
        <servlet-class>admin.BloquerClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierClientServlet</servlet-name>
        <servlet-class>admin.ModifierClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiderCommandeServelet</servlet-name>
        <servlet-class>admin.ValiderCommandeServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerCommandeServlet</servlet-name>
        <servlet-class>admin.SupprimerCommandeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuuprimeCommandeServelet</servlet-name>
        <servlet-class>admin.SuuprimeCommandeServelet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServelet</servlet-name>
        <url-pattern>/LoginServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServelet</servlet-name>
        <url-pattern>/LogoutServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerArticleServlet</servlet-name>
        <url-pattern>/SupprimerArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierArticleServlet</servlet-name>
        <url-pattern>/ModifierArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterArticleServlet</servlet-name>
        <url-pattern>/AjouterArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerClientServlet</servlet-name>
        <url-pattern>/SupprimerClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BloquerClientServlet</servlet-name>
        <url-pattern>/BloquerClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierClientServlet</servlet-name>
        <url-pattern>/ModifierClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiderCommandeServelet</servlet-name>
        <url-pattern>/ValiderCommandeServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerCommandeServlet</servlet-name>
        <url-pattern>/SupprimerCommandeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuuprimeCommandeServelet</servlet-name>
        <url-pattern>/SuuprimeCommandeServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefuserCommandeServlet</servlet-name>
        <url-pattern>/RefuserCommandeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
